# Course 2 Project: ML Pipeline for Feature Engineering

## Instructions

In this project, you'll use data related to microeconomic indicators and historical stock prices to explore the data engineering pipline. You'll get to practice:

* Data ingestion 
* Data cleaning
* Data imputation
* Exploratory data analysis (EDA) through charts and graphs

## Packages

You'll use `pandas` and `matplotlib`, which were covered in the course material, to import, clean, and plot data. They have been installed in this workspace for you. If you're working locally and you installed Jupyter using Anaconda, these packages will already be installed.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Load data

The first step in a data engineering pipeline for machine learning is to ingest the data that will be used. For this project, data is hosted on a public GitHub repo. 

### Your tasks
* Import data from the provided [GitHub repo](https://github.com/udacity/CD13649-Project/tree/main/Project) using `pandas`. For your convenience, the data files (CSVs) are also present in the current workspace at the path **CD13649-Project/Project/**. Here are the data files to import: 
  1. GDP (**GDP.csv**)
  2. Inflation (**inflation_monthly.csv**)
  3. Apple stock prices (**apple_historical_data.csv**)
  4. Microsoft stock prices (**microsoft_historical_data.csv**)
  5. Consumer price index (**consumer_price_index.csv**)



* Verify that the data has been imported correctly into `pandas` dataframes. Use methods like `head()` and `info()`


* You may need to change column names to make them easier to work with


* You may need to cast datetime data to the `datetime` format using `pandas` `to_datetime()` method

In [2]:
# Load historical GDP data
path = os.path.join(os.getcwd(), '../../')
df_gdp = pd.read_csv("GDP.csv")

In [3]:
# Check the first few rows of data
df_gdp.head(5)

         DATE      GDP
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

In [4]:
# Load the historical stock price data for Apple and Microsoft
df_aapl = pd.read_csv("apple_historical_data.csv")
df_msft = pd.read_csv("microsoft_historical_data.csv")

In [5]:
# Check the first few rows of data
df_aapl.head(5)

        Date Close/Last     Volume      Open      High       Low
0   5/3/2024   $183.38   163224100  $186.65   $187.00   $182.66
1   5/2/2024   $173.03    94214920  $172.51   $173.42   $170.89
2   5/1/2024   $169.30    50383150  $169.58   $172.71   $169.11
3  4/30/2024   $170.33    65934780  $173.33   $174.99   $170.00
4  4/29/2024   $173.50    68169420  $173.37   $176.03   $173.10

In [6]:
df_msft.head(5)

         Date Close/Last    Volume     Open       High        Low
0  05/03/2024    $406.66  17446720  $402.28    $407.15    $401.86
1  05/02/2024    $397.84  17709360  $397.66    $399.93  $394.6515
2  05/01/2024    $394.94  23562480  $392.61  $401.7199    $390.31
3  04/30/2024    $389.33  28781370  $401.49    $402.16    $389.17
4  04/29/2024    $402.25  19582090  $405.25    $406.32    $399.19

In [7]:
# Use methods like .info() and .describe() to explore the data
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    309 non-null    object
 1   GDP     309 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB

In [8]:
df_aapl.describe()

             Volume
count  2.517000e+03
mean   1.277394e+08
std    7.357405e+07
min    2.404834e+07
25%    7.741776e+07
50%    1.077601e+08
75%    1.567789e+08
max    7.576780e+08

In [9]:
df_msft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2517 non-null   object
 1   Close/Last  2517 non-null   object
 2   Volume      2517 non-null   int64
 3   Open        2517 non-null   object
 4   High        2517 non-null   object
 5   Low         2517 non-null   object
dtypes: int64(1), object(5)
memory usage: 118.1+ KB

## Data preprocessing: Check for missing data and forward fill

Check the Apple historical prices for missing data. Check for missing data in all columns. If there's data missing, use a forward fill to fill in those missing prices.

In [13]:
# Check for nulls 
df_aapl.isnull().sum()

Date          0
Close/Last    3
Volume        0
Open          0
High          0
Low           0
dtype: int64

In [14]:
# Forward fill any missing data
df_aapl = df_aapl.ffill()

In [15]:
# Check again for nulls after using forward fill
df_aapl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2517 non-null   object
 1   Close/Last  2517 non-null   object
 2   Volume      2517 non-null   int64
 3   Open        2517 non-null   object
 4   High        2517 non-null   object
 5   Low         2517 non-null   object
dtypes: int64(1), object(5)
memory usage: 118.1+ KB

## Data preprocessing: Remove special characters and convert to numeric/datetime

The next step in the data engineering process is to standardize and clean up data. In this step, you'll check for odd formatting and special characters that will make it difficult to work with data as numeric or datetime. 

In this step:
* Create a function that takes in a dataframe and a list of columns and removes dollar signs ('$') from those columns
* Convert any columns with date/time data into a `pandas` `datetime` format

In [16]:
def convert_dollar_columns_to_numeric(df, numeric_columns):
    '''
        Removes dollar signs ('$') from a list of columns in a given dataframe AND casts the columns to a numeric datatype.
        Updates dataframe IN PLACE.
        
        Inputs:
            df: dataframe to be operated on
            numeric_columns: columns that should have numeric data but have dollar signs currently
            
        Returns:
            None - changes to the dataframe can be made in place
    '''
    for col in numeric_columns:
        df[col] = df[col].replace({'\$': ''}, regex=True).astype(float)
    
    #pass

In [17]:
# Use convert_dollar_columns_to_numeric() to remove the dollar sign from the Apple and Microsoft datasets

# Columns to clean
dollar_columns = ['Close/Last', 'Open', 'High', 'Low']

# Apply the function
convert_dollar_columns_to_numeric(df_aapl, dollar_columns)
convert_dollar_columns_to_numeric(df_msft, dollar_columns)

In [18]:
df_aapl

           Date  Close/Last     Volume    Open    High     Low
0      5/3/2024      183.38  163224100  186.65  187.00  182.66
1      5/2/2024      173.03   94214920  172.51  173.42  170.89
2      5/1/2024      169.30   50383150  169.58  172.71  169.11
3     4/30/2024      170.33   65934780  173.33  174.99  170.00
4     4/29/2024      173.50   68169420  173.37  176.03  173.10
...         ...         ...        ...     ...     ...     ...
2512  5/12/2014       21.17  212736019   20.98   21.20   20.98
2513   5/9/2014       20.91  291068564   20.88   20.94   20.73
2514   5/8/2014       21.00  228973884   21.01   21.23   20.94
2515   5/7/2014       21.15  282128727   21.26   21.33   20.99
2516   5/6/2014       21.23  373872650   21.49   21.59   21.23

[2517 rows x 6 columns]

In [19]:
# Use pandas's to_datetime() to convert any columns that are in a datetime format
df_aapl['Date'] = pd.to_datetime(df_aapl['Date'], format='%m/%d/%Y')
df_msft['Date'] = pd.to_datetime(df_msft['Date'], format='%m/%d/%Y')

In [20]:
df_aapl

           Date  Close/Last     Volume    Open    High     Low
0    2024-05-03      183.38  163224100  186.65  187.00  182.66
1    2024-05-02      173.03   94214920  172.51  173.42  170.89
2    2024-05-01      169.30   50383150  169.58  172.71  169.11
3    2024-04-30      170.33   65934780  173.33  174.99  170.00
4    2024-04-29      173.50   68169420  173.37  176.03  173.10
...         ...         ...        ...     ...     ...     ...
2512 2014-05-12       21.17  212736019   20.98   21.20   20.98
2513 2014-05-09       20.91  291068564   20.88   20.94   20.73
2514 2014-05-08       21.00  228973884   21.01   21.23   20.94
2515 2014-05-07       21.15  282128727   21.26   21.33   20.99
2516 2014-05-06       21.23  373872650   21.49   21.59   21.23

[2517 rows x 6 columns]

In [21]:
# Use .info() and check the type of each column to ensure that the above steps worked
df_aapl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2517 non-null   datetime64[ns]
 1   Close/Last  2517 non-null   float64
 2   Volume      2517 non-null   int64
 3   Open        2517 non-null   float64
 4   High        2517 non-null   float64
 5   Low         2517 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 118.1 KB

In [22]:
df_msft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2517 non-null   datetime64[ns]
 1   Close/Last  2517 non-null   float64
 2   Volume      2517 non-null   int64
 3   Open        2517 non-null   float64
 4   High        2517 non-null   float64
 5   Low         2517 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 118.1 KB

## Data preprocessing: Align datetime data

Data engineering includes changing data with a datetime component if needed so that different time series can be more easily compared or plotted against each other. 

In this step:

* Align the inflation date so that it falls on the last day of the month instead of the first

Helpful hints: 
* Use the `pandas` `offsets` method using `MonthEnd(0)` to set the 'Date' column to month-end

In [23]:
df_inflation = pd.read_csv("inflation_monthly.csv")

In [24]:
df_inflation.head(5)

         DATE  CORESTICKM159SFRBATL
0  1968-01-01              3.651861
1  1968-02-01              3.673819
2  1968-03-01              4.142164
3  1968-04-01              4.155828
4  1968-05-01              4.088245

In [25]:
# Align inflation data so that the date is the month end (e.g. Jan 31, Feb 28/28)
df_inflation['DATE'] = pd.to_datetime(df_inflation['DATE']) + pd.offsets.MonthEnd(0)

In [26]:
df_inflation.head(5)

        DATE  CORESTICKM159SFRBATL
0 1968-01-31              3.651861
1 1968-02-29              3.673819
2 1968-03-31              4.142164
3 1968-04-30              4.155828
4 1968-05-31              4.088245

## Data preprocessing: Upsample, downsample and interpolate data

Inflation data is presented monthly in this dataset. However, for some models, you may need it at a quarterly frequency, and for some models you may need it at a quarterly frequency. 

In this step:
* Create a new quarterly inflation dataframe by downsampling the monthly inflation data to quarterly using the mean (e.g. for quarter 1 in a given year, use the average values from January, February, and March)
* Create a new weekly inflation dataframe by upsampling the monthly inflation data. For this, you'll need to use `resample` and then you'll need to `interpolate` to fill in the missing data at the weekly frequency

Note that you may need to change the index for some of these operations!

In [27]:
df_inflation.set_index('DATE', inplace=True)

In [28]:
# Downsample from monthly to quarterly 
df_quarterly = df_inflation.resample('Q').mean()

/tmp/ipykernel_13/3856656035.py:2: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  df_quarterly = df_inflation.resample('Q').mean()

In [29]:
# Upsample and interpolate from monthly to weekly 
df_weekly = df_inflation.resample('W').ffill().interpolate(method='time')

In [30]:
df_quarterly.head()

            CORESTICKM159SFRBATL
DATE
1968-03-31              3.822615
1968-06-30              4.263214
1968-09-30              4.882643
1968-12-31              5.429443
1969-03-31              5.873770

In [31]:
df_weekly.head(10)

            CORESTICKM159SFRBATL
DATE
1968-02-04              3.651861
1968-02-11              3.651861
1968-02-18              3.651861
1968-02-25              3.651861
1968-03-03              3.673819
1968-03-10              3.673819
1968-03-17              3.673819
1968-03-24              3.673819
1968-03-31              4.142164
1968-04-07              4.142164

## Data preprocessing: Normalize/standardize a feature

Economic time series data often involve variables measured on different scales (e.g., GDP in trillions of dollars, inflation in percentage points). Standardizing these variables (typically by subtracting the mean and dividing by the standard deviation) puts them on a common scale, allowing for meaningful comparisons and analyses.

Your task:
* Standardize the GDP data. You may do this manually by subtracting the mean and dividing by the standard deviation, or you may use a built-in method from a library like `sklearn`'s `StandardScaler`

In [ ]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 51.7 MB/s eta 0:00:0000:010:01
Requirement already satisfied: numpy>=1.19.5 in /opt/venv/lib/python3.10/site-packages (from scikit-learn) (2.1.2)
Collecting joblib>=1.2.0
  Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.8/301.8 kB 25.9 MB/s eta 0:00:00
Collecting scipy>=1.6.0
  Downloading scipy-1.15.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (37.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 37.6/37.6 MB 30.4 MB/s eta 0:00:0000:0100:01
Collecting threadpoolctl>=3.1.0
  Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn

In [ ]:
# Standardize the GDP measure
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_gdp['GDP_Standardized'] = scaler.fit_transform(df_gdp[['GDP']])
print(df_gdp)

In [ ]:
# Check the dataframe to make sure the calculation worked as expected 

df_gdp.head(5)

## EDA: Plotting a time series of adjusted open vs close price

As part of your EDA, you'll frequently want to plot two time series on the same graph and using the same axis to compare their movements. 

Your task:
* Plot the Apple open and close price time series on the same chart **for the last three months only**. Be sure to use a legend to label each line

**NOTE**: This is a large dataset. If you try to plot the entire series, your graph will be hard to interpret and may take a long time to plot. Be sure to use only the most recent three months of data.

In [ ]:
# Get max date in timeseries
max_date = df_aapl['Date'].max()

In [ ]:
# Use the max date calculated above to get the last three months of data in the dataset 
three_months_ago = max_date - pd.DateOffset(months=3)
df_recent = df_aapl[df_aapl['Date'] >= three_months_ago]

In [ ]:
# Plot time series of open v. close stock price for Apple using the last 3 months of data

plt.figure(figsize=(12, 6))
plt.plot(df_recent['Date'], df_recent['Open'], label='Open Price', color='blue')
plt.plot(df_recent['Date'], df_recent['Close/Last'], label='Close Price', color='red')

## EDA: Plotting a histogram of a stock's closing price in the last three months

One way to see how much a stock's price generally moves is to plot the frequency of closing prices over a set time period. 

Your task:
* Use the **last three months** of Apple stock data and plot a histogram of closing price

In [ ]:
# Plot the histogram of Apple's closing price over the last 3 months 

three_months_ago = max_date - pd.DateOffset(months=3)
df_recent = df_aapl[df_aapl['Date'] >= three_months_ago]
plt.figure(figsize=(10, 6))
plt.hist(df_recent['Close/Last'], bins=20, color='blue', edgecolor='black', alpha=0.7)

## Calculating correlation between a stock price and a macroeconomic variable 

Inflation affects the purchasing power of money and can influence corporate profits, interest rates, and consumer behavior. By analyzing the correlation between stock prices and inflation, one can gauge how inflationary trends impact stock market performance. For instance, high inflation might erode profit margins and reduce stock prices, while moderate inflation might indicate a growing economy, benefiting stocks.

Your task:
* Plot a heatmap that shows the correlation between Microsoft and Apple returns and inflation 

This will require several steps:
1. Calculate the returns for Apple and Microsoft and the change in monthly inflation (use the `pct_change` method for each)
2. Interpolate the daily stock returns data to monthly so it can be compared to the monthly inflation data
3. Merge the stock returns (Apple and Microsoft) and inflation data series into a single dataframe
4. Calculate the correlation matrix between the Apple returns, Microsoft returns, and inflation change
5. Plot the correlation matrix as a heatmap

### 1. Calculate returns for Microsoft / Apple and the monthly change in inflation

In [ ]:
# Calculate daily returns for Apple and Microsoft and the percent change in inflation from month to month
df_aapl['Returns'] = df_aapl['Close/Last'].pct_change()
df_msft['Returns'] = df_msft['Close/Last'].pct_change()
df_inflation['Change_Inflation'] = df_inflation['CORESTICKM159SFRBATL'].pct_change()

### 2. Interpolate stock returns from daily to monthly

In [ ]:
df_aapl_monthly = df_aapl.resample('M', on='Date').mean()
df_msft_monthly = df_msft.resample('M', on='Date').mean()

### 3. Merge the dataframes and calculate / plot the correlation

In [ ]:
df_aapl_monthly

In [ ]:
df_merged = pd.merge(df_aapl_monthly, df_msft_monthly, 
                      left_index=True, right_index=True, suffixes=('_Apple', '_Microsoft'))
df_merged = pd.merge(df_merged, df_inflation, 
                     left_index=True, right_on='DATE')

In [ ]:
df_merged

### 4. Calculate the correlation matrix between the Apple returns, Microsoft returns, and inflation change

In [ ]:
# Calculate correlation matrix
correlation_matrix = df_merged[['Returns_Apple', 'Returns_Microsoft', 'Change_Inflation']].corr()

### 5. Plot the correlation matrix as a heatmap

In [ ]:
# Plot heatmap
plt.figure(figsize=(8,6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title('Correlation Matrix: Apple & Microsoft Returns vs Inflation Change')
plt.show()

## Calculating rolling volatility (standard deviation) of a stock's price for last 3 months

Volatility is a measure of the dispersion of returns for a given security. By calculating rolling volatility, investors can assess the risk associated with a stock over time: Higher volatility indicates higher risk, as the stock's price is more likely to experience significant fluctuations. In portfolio optimization, understanding the volatility of individual stocks and how it changes over time is crucial for diversification and optimization. By analyzing rolling volatility, investors can adjust their portfolios to maintain a desired risk level, potentially improving the risk-return profile.

One possible way to calculate volatility is by using the standard deviation of returns for a stock over time.

Your task:
* Calculate the weekly rolling standard deviation for Apple's closing price
* Plot the calculated rolling weekly volatility of Apple's closing price against Apple's closing price. Plot these **on the same chart, but using different y-axes**

Helpful hints:
* You'll need to use the `pandas` `rolling()` method with a given `window_size` parameter to make it a _weekly_ rolling calculation
* Use **only the last three months of data**; data much older than this may not be as useful for portfolio optimization
* You'll need to create two axes on the matplotlib figure to be able to use two different y-axes (one for the closing price and one for the rolling volatility calculated here)

In [ ]:
# Define the window size for the rolling calculation (e.g., one week)
window_size = 5  # One trading week (5 business days)

In [ ]:
# Calculate rolling one-week volatility
df_aapl['Rolling_Volatility'] = df_aapl['Close/Last'].rolling(window=window_size).std()

In [ ]:
# Plot the calculated rolling weekly volatility of Apple's closing price against Apple's closing price
# Plot these on the same chart, but using different y-axes
fig, ax1 = plt.subplots(figsize=(12, 6))
ax1.set_xlabel('Date')
ax1.set_ylabel('Closing Price (USD)', color='blue')
ax1.plot(df_aapl.index, df_aapl['Close/Last'], label='Apple Close Price', color='blue')
ax1.tick_params(axis='y', labelcolor='blue')

ax2 = ax1.twinx()
ax2.set_ylabel('Rolling Weekly Volatility', color='red')
ax2.plot(df_aapl.index, df_aapl['Rolling_Volatility'], label='Rolling Weekly Volatility', color='red', linestyle='dashed')
ax2.tick_params(axis='y', labelcolor='red')

## Export data

Now that you have preprocessed your data, you should save it in new csv files so that it can be used in downstream tasks without having to redo all the preprocessing steps. 

Your task:
* Use `pandas` to export all modified datasets back to new CSV files

In [ ]:
# Save the cleaned and transformed Apple stock data
df_aapl.to_csv('apple_stock_processed.csv', index=True)

# Save the quarterly inflation data
df_quarterly.to_csv('inflation_quarterly.csv', index=True)

# Save the weekly upsampled inflation data
df_weekly.to_csv('inflation_weekly.csv', index=True)

# Save the combined dataset for correlation analysis
correlation_matrix.to_csv('stock_inflation_correlation.csv', index=True)